/* IMPORT SHARED
   ----------------------------- */
/* IMPORT BASE
      ----------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  margin: 5px;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

/* IMPORT COMPONENTS
      ----------------------------- */
.u-mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-ml-15 {
  margin-left: 15px;
}

.u-mr-15 {
  margin-right: 15px;
}

.u-mb-32 {
  margin-bottom: 32px;
}

.u-p-lg {
  padding: 64px 16px;
}

.u-p-sm {
  padding: 32px 16px;
}

.u-plr-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.u-ptb-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.u-pb-80 {
  padding-bottom: 80px;
}

.u-justify {
  text-align: justify;
}

.u-text-center {
  text-align: center;
}

.u-fs-18 {
  font-size: 18px;
}

.u-right {
  display: block;
  margin-left: auto;
}

.u-disable {
  pointer-events: none;
  opacity: 0.65;
}

.button {
  display: inline-block;
  padding: 20px 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.button--primary {
  background-color: #64a19d;
  color: #fff;
  border-radius: 10px;
}
.button--primary:hover {
  opacity: 0.5;
}
.button--disable {
  pointer-events: none;
  opacity: 0.65;
}