.button {
    display: inline-block;
    padding: 20px 32px;
    transition: all .5s;

    &--primary {
        background-color: #64a19d;
        color: #fff;
        border-radius: 10px;

        &:hover {
            opacity: 0.5;
        }
    }

    &--disable {
        pointer-events: none;
        opacity: 0.65;
    }
}
